button {
    font-size: large;
    color: grey;
    background-color: rgba(32,34,37);
    border: none;
    padding: 0.6rem;
    margin-left: 1em;
}

input[type="text"] {
    font-size: large;
    color: white;
    border: none;
    background: none;
    border-bottom: solid grey;
}

::placeholder{
    color: grey;
}

.container {
    margin: auto;
}

form {
    width: max-content;
    padding-bottom: 0.5rem;
}