button {
    font-size: larger;
    color: grey;
    background-color: rgba(32,34,37);
    border: none;
    padding: 0.5rem;
    margin-left: 1em;
}

input[type="text"] {
    font-size: larger;
    margin-top: 0.5rem; 
    color: white;
    margin-bottom: 0.5rem;
    border: none;
    background-color: grey;
    padding: 0.2rem;
}
::placeholder{
    color: white;
}

.container {
    margin: auto;
}

form {
    width: max-content;
}